<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    @for (catazonProduct of catazonProductList; track catazonProduct.id) {
      <div class="col">
        <div class="card">
          <img
            [src]="'images/' + catazonProduct.image"
            class="card-img-top img-fluid"
            alt="{{ catazonProduct.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ catazonProduct.name }}</h5>
            @if (catazonProduct.availability === false) {
              <a
                routerLink="orders"
                class="btn cartbtn disabled mt-4 mb-5"
                tabindex="-1"
                role="button"
                aria-disabled="true"
                >NOT AVAILABLE</a
              >

              <!-- FOR RIOLA: i preferred to keep one button, unlike the requirement says. i kept the button as disabled with "not available" text on purpose because i think it looked better than not having any button, hope it is ok. Also kept the name of the product, even if it is not available it is good to see the name.  -->
            } @else {
              <p>Price: {{ catazonProduct.price }} €</p>
              <p class="card-text">Quantity: {{ catazonProduct.quantity }}</p>
              <a [routerLink]="['/details', catazonProduct.id]" class="btn btn-warning me-3"
                >Details</a
              >
              <button routerLink="orders" class="btn cartbtn">Add to cart</button>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
